In [1]:
from helper import get_data

In [2]:
def get_better_heroes(account_id):
    url = 'https://api.opendota.com/api/players/{}/heroes'
    url = url.format(account_id)
    df = get_data(url)
    df['win_rate'] = df['win']/df['games']*100.0
    
    return df[(df['games'] >= 50) & (df['win_rate'] >= 55.0)]

In [3]:
account_id = 341689373
heroes = get_better_heroes(account_id)

In [4]:
heroes

,hero_id,last_played,games,win,with_games,with_win,against_games,against_win,win_rate
0,8,1612433889,558,337,334,183,467,235,60.394265
2,1,1612296204,420,243,293,148,417,222,57.857143
3,44,1610404077,230,145,482,270,710,375,63.043478
7,48,1594392785,101,69,161,97,215,111,68.316832
8,6,1597682528,77,44,293,160,399,209,57.142857
9,41,1584814944,77,43,194,106,287,161,55.844156
10,93,1610487919,70,40,267,134,367,197,57.142857
12,62,1611923525,56,34,191,109,200,122,60.714286

In [5]:
heroes.shape

(8, 9)