In [1]:
from pandas import read_csv

In [2]:
df = read_csv('data/herostats.csv')

In [3]:
df.head()

,id,name,localized_name,primary_attr,attack_type,roles,img,icon,base_health,base_health_regen,...,5_pick,5_win,6_pick,6_win,7_pick,7_win,8_pick,8_win,null_pick,null_win
0,1,npc_dota_hero_antimage,Anti-Mage,agi,Melee,"['Carry', 'Escape', 'Nuker']",/apps/dota2/images/heroes/antimage_full.png?,/apps/dota2/images/heroes/antimage_icon.png,200,0.25,...,44258,22398,20398,10058,8496,4191,2066,988,2374175,0
1,2,npc_dota_hero_axe,Axe,str,Melee,"['Initiator', 'Durable', 'Disabler', 'Jungler']",/apps/dota2/images/heroes/axe_full.png?,/apps/dota2/images/heroes/axe_icon.png,200,2.75,...,35216,17778,15471,7714,6012,2943,1223,579,1879235,0
2,3,npc_dota_hero_bane,Bane,int,Ranged,"['Support', 'Disabler', 'Nuker', 'Durable']",/apps/dota2/images/heroes/bane_full.png?,/apps/dota2/images/heroes/bane_icon.png,200,NaN,...,11995,6191,6349,3333,3355,1746,1345,700,583450,0
3,4,npc_dota_hero_bloodseeker,Bloodseeker,agi,Melee,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini...",/apps/dota2/images/heroes/bloodseeker_full.png?,/apps/dota2/images/heroes/bloodseeker_icon.png,200,NaN,...,10508,5285,4542,2426,1822,916,479,239,868963,0
4,5,npc_dota_hero_crystal_maiden,Crystal Maiden,int,Ranged,"['Support', 'Disabler', 'Nuker', 'Jungler']",/apps/dota2/images/heroes/crystal_maiden_full....,/apps/dota2/images/heroes/crystal_maiden_icon.png,200,NaN,...,41096,20913,18730,9490,7625,3844,2152,1085,2174694,0

In [4]:
df.columns.tolist()

['id',
 'name',
 'localized_name',
 'primary_attr',
 'attack_type',
 'roles',
 'img',
 'icon',
 'base_health',
 'base_health_regen',
 'base_mana',
 'base_mana_regen',
 'base_armor',
 'base_mr',
 'base_attack_min',
 'base_attack_max',
 'base_str',
 'base_agi',
 'base_int',
 'str_gain',
 'agi_gain',
 'int_gain',
 'attack_range',
 'projectile_speed',
 'attack_rate',
 'move_speed',
 'turn_rate',
 'cm_enabled',
 'legs',
 'hero_id',
 'turbo_picks',
 'turbo_wins',
 'pro_ban',
 'pro_win',
 'pro_pick',
 '1_pick',
 '1_win',
 '2_pick',
 '2_win',
 '3_pick',
 '3_win',
 '4_pick',
 '4_win',
 '5_pick',
 '5_win',
 '6_pick',
 '6_win',
 '7_pick',
 '7_win',
 '8_pick',
 '8_win',
 'null_pick',
 'null_win']

In [5]:
df = df.drop(
    [
        'id',
        'name',
        'primary_attr',
        'attack_type',
        'img',
        'icon',
        'base_health',
        'base_health_regen',
        'base_mana',
        'base_mana_regen',
        'base_armor',
        'base_mr',
        'base_attack_min',
        'base_attack_max',
        'base_str',
        'base_agi',
        'base_int',
        'str_gain',
        'agi_gain',
        'int_gain',
        'attack_range',
        'projectile_speed',
        'attack_rate',
        'move_speed',
        'turn_rate',
        'cm_enabled',
        'legs',
        'turbo_picks',
        'turbo_wins',
        'hero_id',
        'null_pick',
        'null_win',
    ],
    axis=1,
)

In [6]:
df.head()

,localized_name,roles,pro_ban,pro_win,pro_pick,1_pick,1_win,2_pick,2_win,3_pick,...,4_pick,4_win,5_pick,5_win,6_pick,6_win,7_pick,7_win,8_pick,8_win
0,Anti-Mage,"['Carry', 'Escape', 'Nuker']",435,57,116,19855,9963,44814,22836,64712,...,65910,33295,44258,22398,20398,10058,8496,4191,2066,988
1,Axe,"['Initiator', 'Durable', 'Disabler', 'Jungler']",53,28,85,18627,9696,41154,20839,56948,...,54727,27629,35216,17778,15471,7714,6012,2943,1223,579
2,Bane,"['Support', 'Disabler', 'Nuker', 'Durable']",31,26,61,3421,1530,8569,4076,13494,...,15172,7580,11995,6191,6349,3333,3355,1746,1345,700
3,Bloodseeker,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini...",74,26,57,12756,6639,17656,9108,19703,...,17205,8852,10508,5285,4542,2426,1822,916,479,239
4,Crystal Maiden,"['Support', 'Disabler', 'Nuker', 'Jungler']",8,68,145,21541,11338,45979,23856,63098,...,62721,31709,41096,20913,18730,9490,7625,3844,2152,1085

In [7]:
df['is_carry'] = df['roles'].apply(lambda x: 'Carry' in x)
df = df.drop('roles', axis=1)

In [8]:
df.head()

,localized_name,pro_ban,pro_win,pro_pick,1_pick,1_win,2_pick,2_win,3_pick,3_win,...,4_win,5_pick,5_win,6_pick,6_win,7_pick,7_win,8_pick,8_win,is_carry
0,Anti-Mage,435,57,116,19855,9963,44814,22836,64712,32927,...,33295,44258,22398,20398,10058,8496,4191,2066,988,True
1,Axe,53,28,85,18627,9696,41154,20839,56948,28748,...,27629,35216,17778,15471,7714,6012,2943,1223,579,False
2,Bane,31,26,61,3421,1530,8569,4076,13494,6571,...,7580,11995,6191,6349,3333,3355,1746,1345,700,False
3,Bloodseeker,74,26,57,12756,6639,17656,9108,19703,10054,...,8852,10508,5285,4542,2426,1822,916,479,239,True
4,Crystal Maiden,8,68,145,21541,11338,45979,23856,63098,32099,...,31709,41096,20913,18730,9490,7625,3844,2152,1085,False

In [9]:
df = df[df['is_carry'] == True]
df = df.drop('is_carry', axis=1)
df = df.reset_index(drop=True)

In [10]:
df.head()

,localized_name,pro_ban,pro_win,pro_pick,1_pick,1_win,2_pick,2_win,3_pick,3_win,4_pick,4_win,5_pick,5_win,6_pick,6_win,7_pick,7_win,8_pick,8_win
0,Anti-Mage,435,57,116,19855,9963,44814,22836,64712,32927,65910,33295,44258,22398,20398,10058,8496,4191,2066,988
1,Bloodseeker,74,26,57,12756,6639,17656,9108,19703,10054,17205,8852,10508,5285,4542,2426,1822,916,479,239
2,Drow Ranger,357,48,104,23532,11625,41005,20111,50617,24760,47599,23409,30451,14969,13498,6699,5230,2526,1150,571
3,Juggernaut,333,117,214,28737,15127,64869,34431,93455,50124,94483,51168,61963,33239,27476,14695,10793,5659,2500,1265
4,Mirana,146,152,295,12654,6418,36239,18958,62381,32405,69992,36251,49348,25599,22972,11949,9601,4969,2780,1411

In [11]:
cols_pick = [col for col in df.columns if col.endswith('_pick')]
cols_win = [col for col in df.columns if col.endswith('_win')]

In [12]:
cols_pick, cols_win

(['pro_pick',
  '1_pick',
  '2_pick',
  '3_pick',
  '4_pick',
  '5_pick',
  '6_pick',
  '7_pick',
  '8_pick'],
 ['pro_win',
  '1_win',
  '2_win',
  '3_win',
  '4_win',
  '5_win',
  '6_win',
  '7_win',
  '8_win'])

In [13]:
rows = df.to_dict('records')
total_picks = []
total_wins = []
for row in rows:
    total_pick = 0
    total_win = 0
    for field_pick, field_win in zip(cols_pick, cols_win):
        total_pick += row[field_pick]
        total_win += row[field_win]
    total_picks.append(total_pick)
    total_wins.append(total_win)

In [14]:
df['pro_total'] = df['pro_pick']+df['pro_win']
df['pro_winrate'] = df['pro_win']/df['pro_total']
df['total_pick'] = total_picks
df['total_win'] = total_wins
df['pub_pick'] = df['total_pick']-df['pro_total']
df['pub_win'] = df['total_win']-df['pro_win']
df['pub_winrate'] = (df['pub_win']/df['pub_pick'])*100.0
df['pub_pickrate'] = df['pub_pick']/sum(df['pub_pick'])*100.0
df['pro_pickrate'] = df['pro_pick']/sum(df['pro_pick'])*100.0

In [15]:
df.head()

,localized_name,pro_ban,pro_win,pro_pick,1_pick,1_win,2_pick,2_win,3_pick,3_win,...,8_win,pro_total,pro_winrate,total_pick,total_win,pub_pick,pub_win,pub_winrate,pub_pickrate,pro_pickrate
0,Anti-Mage,435,57,116,19855,9963,44814,22836,64712,32927,...,988,173,0.329480,270625,136713,270452,136656,50.528744,2.738481,1.559769
1,Bloodseeker,74,26,57,12756,6639,17656,9108,19703,10054,...,239,83,0.313253,84728,43545,84645,43519,51.413551,0.857079,0.766438
2,Drow Ranger,357,48,104,23532,11625,41005,20111,50617,24760,...,571,152,0.315789,213186,104718,213034,104670,49.133002,2.157091,1.398413
3,Juggernaut,333,117,214,28737,15127,64869,34431,93455,50124,...,1265,331,0.353474,384490,205825,384159,205708,53.547620,3.889829,2.877504
4,Mirana,146,152,295,12654,6418,36239,18958,62381,32405,...,1411,447,0.340045,266262,138112,265815,137960,51.900758,2.691529,3.966653

In [16]:
df = df.drop(
    cols_pick,
    axis=1,
)
df = df.drop(
    cols_win,
    axis=1,
)

In [17]:
df.head()

,localized_name,pro_ban,pro_total,pro_winrate,total_pick,total_win,pub_pick,pub_win,pub_winrate,pub_pickrate,pro_pickrate
0,Anti-Mage,435,173,0.329480,270625,136713,270452,136656,50.528744,2.738481,1.559769
1,Bloodseeker,74,83,0.313253,84728,43545,84645,43519,51.413551,0.857079,0.766438
2,Drow Ranger,357,152,0.315789,213186,104718,213034,104670,49.133002,2.157091,1.398413
3,Juggernaut,333,331,0.353474,384490,205825,384159,205708,53.547620,3.889829,2.877504
4,Mirana,146,447,0.340045,266262,138112,265815,137960,51.900758,2.691529,3.966653

In [18]:
df[(df['pub_winrate'] > 50.0) & (df['pub_pickrate'] >= 5.0)].shape[0]

0