In [1]:
from pandas import read_csv
from requests import get

from helper import get_data

In [2]:
url = 'https://api.opendota.com/api/publicMatches'

In [3]:
df = get_data(url)

In [4]:
df.head()

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5786061813,4871972428,False,1610629363,592,3891.0,4.0,7,22,62,5,133,"25,100,99,42,74","29,9,43,22,114"
1,5786054118,4871970683,True,1610629058,557,3451.0,2.0,0,22,32,2,155,"73,75,84,18,104","102,107,22,85,93"
2,5786053001,4871977451,True,1610629011,1122,4709.0,5.0,7,3,79,10,223,"32,13,53,119,38","11,41,27,100,60"
3,5786051306,4871975997,True,1610628949,1201,3768.0,1.0,7,22,64,7,134,"31,61,88,54,51","13,56,123,99,75"
4,5786049618,4871970445,True,1610628881,1002,NaN,NaN,0,4,27,2,185,"39,32,110,71,100","54,59,103,36,28"

In [5]:
df.shape

(100, 14)